<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Mvc" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Mvc.Analytics" version="9.0.2" targetFramework="net462" />
  <package id="Sitecore.XA.Foundation.Grid" version="3.7.1" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.MarkupDecorator" version="3.7.1" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Mvc" version="3.7.1" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="3.7.1" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Theming" version="3.7.1" targetFramework="net462" developmentDependency="true" />
</packages>